@model LMS_Project_mvc.Models.Media

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Media</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="MTypeId"> Medya Türü</label>
                <select asp-for="MTypeId" asp-items="ViewBag.MTypes"></select>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"> Medya Kategorisi</label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div>
                <label>Dosya</label>
                <input asp-for="FilePath" class="form-control" type="hidden" value="bos.jpg" />
                <span asp-validation-for="FilePath" class="text-danger"></span>

                <input name="file" type="file"/>
            </div>
            <input asp-for="FileName" class="form-control" type="hidden" value="bos.jpg" />
            <input asp-for="FileSizeHuman" class="form-control" type="hidden" value="bos.jpg" />
            <input asp-for="IsArchive" class="form-control" type="hidden" value="bos.jpg" />
            @*<div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSize" class="control-label"></label>
                <input asp-for="FileSize" class="form-control" />
                <span asp-validation-for="FileSize" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>



            @*<div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <a asp-action="Index">GERİ DÖN</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
